body {
    font-family: 'Gothic A1', sans-serif;
}

h1 {
    font-family: 'Gabarito', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 85px;
}

h2 {
    font-family: 'Gabarito', sans-serif;
    color: rgb(8, 8, 8);
}

h3 {
    font-family: 'Gabarito', sans-serif;
    color: rgb(0, 0, 0);
}

h4 {
    font-family: 'Gabarito', sans-serif;
    color: rgb(0, 0, 0);

}

h5 {
    font-family: 'Gabarito', sans-serif;
    color: rgb(0, 0, 0);


}

h6 {
    font-family: 'Gabarito', sans-serif;
    color: rgb(0, 0, 0);

}


p {
    text-align: left;
    color: rgb(0, 0, 0);
}


.box {
    background-color: rgb(163, 163, 217);
}

.box2 {
    background-color: rgb(222, 216, 208);
}

body {
    background-color: antiquewhite;
}